<li>
	{{burger_name}}

	<button type="button" class="alter-devoured btn btn-success" data-id="{{id}}" data-newmonch="{{devoured}}">

	
		{{#if devoured}}MONCH MONCH TIME{{else}}ALREADY MONCHED{{/if}}
	</button>

	<button type="button" class="delete-burger btn btn-danger" data-id="{{this.id}}">DELETE!</button>
</li>


{{!-- important when naming data attributes do not use camelcase when usin jquery as it will break the mysql data insertion --}}